{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>VELO Research Team</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="{% static 'simulation/images/favicon.ico' %}" rel="icon">

  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

        <meta name="author" content="VELO RESEARCH TEAM" />

        <meta property="og:site_name" content="VELO Research Team" />
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="VELO Research Team"/>
        <meta property="og:description" content="VELO Research Team"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'simulation/css/bootstrap.default.min.css' %}" type="text/css"/><!-- OR default, paper, sandstone, spacelab... -->
    <link href="{% static 'simulation/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'simulation/css/friendly.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'simulation/css/style.css' %}" type="text/css"/>

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="https://velo.pythonanywhere.com/" class="navbar-brand">
                <span class="text-success"><strong>VELO</strong></span>
                <span class="text-info"><strong>Research Team</strong></span>
            </a>

        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://velo.pythonanywhere.com/logging/">Logging Experiment</a></li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->

