{% load static %}
{% include "simulation/includes/banner.html" %}


<br/>

<div class="container">


    <h2>VELO web site</h2>

    <hr/>

    <p>
        VELO is a research team of the <a href="https://www.ls2n.fr/" target="_blank">Laboratory of Digital Sciences</a> (Nantes, France).
    </p>

    <p align="center">
    <img src="https://velo.pythonanywhere.com/static/simulation/images/VELO.png" width="20%" align="center"/>
    </p>

    <hr/>

    <div class="well">
        <h3><a href="https://velo.pythonanywhere.com/logging/">Experiment logging scenarios on a tropical forest</a></h3>

        <p>
            <a href="https://velo.pythonanywhere.com/logging/">Basic web app for simulating logging scenarios on a virtual tropical forest</a>
        </p>

        <p align=center>
            <a href="https://velo.pythonanywhere.com/logging/"><img src="https://velo.pythonanywhere.com/static/simulation/images/forest.jpeg" width="80%" align="center"/></a>
        </p>
    </div>


        <p align=center>
            <a href="http://www.ecofog.gf/" target="_blank"><img src="https://velo.pythonanywhere.com/static/simulation/images/ecofog.png" width="10%" align="center"/></a>
            <a href="https://www.ls2n.fr/" target="_blank"><img src="https://velo.pythonanywhere.com/static/simulation/images/ls2n.png" width="17%" align="center"/></a>
        </p>

</div> <!-- class="container" -->

{% include "simulation/includes/footer.html" %}